[Match]
Name=eth0.111

[Network]
DHCP=no
Address=192.168.10.111/24
Gateway=192.168.10.254
DNS=1.1.1.1
IPMasquerade=yes
IPForward=ipv4

LinkLocalAddressing=no
LLDP=no
EmitLLDP=no
IPv6AcceptRA=no
IPv6SendRA=no


